@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restaurante {  
  background-color: #1e1d1c;
}
.cabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1e1d1c;
  position:fixed;
  width: 100%;
}
.img__logo{
  max-height: 80px;
}
.sublogo{
    display: flex;
    justify-content: center;
}
.img__sublogo{
    max-width: 25%;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.nav__item {
}
.nav__item--link {
  color: whitesmoke;
  text-decoration: none;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.presentacion {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/fondo1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
  height:calc(100vh);
}
.presentacion__titulo {
  font-size: 55px;
  font-family: "Dancing Script";
  color: coral;
  
}
.presentacion__subtitulo{
    font-size: 25px;       
 }
.presentacion__rte {
  font-size: 65px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.concepto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/fondo2.jpg");
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
}
.concepto__recuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1d1c;
  width:30%;
  padding: 40px;
}
.concepto__titulo {
  background-color: #1e1d1c;
  color: beige;  
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
}
.concepto__explica {
  background-color: #1e1d1c;
  color: beige;
  
  padding-bottom: 30px;
}

.galeria {
  padding: 20px;  
  display: flex;
  justify-content: center;
  background-image: url("./images/fondo3.jpg");
  background-repeat: repeat;
}

.galeria__recuadro {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 20px;
  align-items: flex-start;
}

.galeria__foto img {
  max-width: 250px;
  background-color: #1e1d1c;
}

.carta {
  background-color:white; 
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:max-content;
}
.carta__titulo {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
.carta__subtitulo {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding-bottom: 30px;
}
.carta__nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.carta__recuadro {
  align-items: flex-start;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("./images/fondo4.jpg");
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  
}
.carta__recuadro-columna {
  background-color: white;
  padding-left: 10px;
  padding-top: 40px;;
}
.carta__texto-grupo {
  padding-top: 15px;
  padding-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.plato {
  display: grid;
  grid-template-columns: 10fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-bottom: 8px;
}
.carta__pie {
  padding-top: 20px;
  padding-bottom: 20px;
}
.carta__botton {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;

  background: transparent;
  background-color: brown;
  padding: 12px;
  font-size: 10px;
}
.reservas {
  height: 446px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  align-items: center;
}
.reservas__titulo {
}
.reservas__recuadro {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reservas__field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
}
.reservas__botton {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 200px;
  background-color: white;
  padding: 12px;
  font-size: 10px;
}
.recuadro_blog{
  color: black;
  font-size: larger;
  background-color: white;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}
.blog_titulo{
margin-top: 40px;
}
.blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: white;
  align-content: space-around;
  flex-direction: row;
  min-height: 75vh;
}

footer{
  padding-top: 50px;
  font-size: 30PX;;
  background-color: white;
  text-align: center;
 color: black;
}
.contacto{
 padding-top: 10px;
 background-color: white;

}
.imgContacto{
 width: 100%

}